table.hi{
    width: 100%;
    height: 60;
    border: 0;
    padding: auto;
    background-color: black;
}
h1{
    text-align: centre;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    font-size: 5ch;
    text-align: center;
    
}
table.head{
    width: 100%;
    height: 30;
    padding: auto;
    background-color: cyan;
    align: center;
}
h3{
    text-align: centre;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    font-size: normal;

}
td.left{
    padding-left: 76px;
}
#left{
    align-self: auto;
    background-color: rgb(59, 89, 145);
}
img{
    height: 10%;
    width: 30%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
}
footer{
    text-align: center;
    color:rgb(223, 205, 205);
    background-color: black;
}
td.right{
    padding-left: 69px;
}
p{
    text-align: center;
    background-color: rebeccapurple;
    font-style:normal;
    font-weight: bolder;
    font-size: xx-large;
    padding: 100px
    ba
}
body.red{
    background-color: rebeccapurple;
}


div.textarea{
    text-align: center;
    
    text-decoration: salmon;

}





